/* CarList.module.css */
.carList {
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .carListItems {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .carItem {
    margin-bottom: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .page {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .active {
    background-color: #ddd;
  }
  